header{
    /* background-color: rgb(195, 186, 162); */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
ul{
display: flex;
flex-direction: row;
margin-right: 40px;
}
li{

    list-style: none;
    margin-right: 24px;
font-family: monospace;
color: black;
}

h1{
    margin-left: 40px;
}

