section{
    display: flex;
    height: 90vh;
    /* border: solid black 1px; */
    display:  flex;
    flex-direction: column;
    justify-content: center;

    
}

.second{
    /* border: rgb(119, 0, 128) 1px solid; */
    width: 590px;
    height: 600px;
    left: 950px;
    top:70px;
    position: relative;
    background-color: white;
    background-image: url(https://images.pexels.com/photos/20004051/pexels-photo-20004051/free-photo-of-a-person-holding-flowers.jpeg?auto=compress&cs=tinysrgb&w=600);
    /* background-position: 80px 0px; */
    /* filter: blur(0.4px);
    filter: brightness(80%); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    input{
        width: 300px;
        height: 35px;
        margin-left: 40px;
        margin-top:20px ;
        font-size: 30px;
        color:white;
        background-color:rgb(249, 246, 237);
        border-radius: 10px;
        

    }
    input:focus{
        background-color:rgba(249, 246, 237, 0.413);

    }
    input::placeholder{
        color: transparent;
    }
    input:focus::placeholder{
        color:rgb(142, 2, 2);
    }
  
}
.second:hover{
    transition: all 1s ease;
    width: 570px;
    height: 580px;
}

.title-of-second{
    /* color: rgb(5, 60, 26); */
    color: rgb(142, 2, 2);
    font-size: 80px;
    font-family:'Oi', display; 
    position: relative;
    left: 800px;
    /* background-color:rgb(249, 246, 237); */
    border-radius: 10px;
    width: fit-content;
}

/* input{
    width: 300px;
    height: 20px;
display:flex;
justify-self:flex-end;
} */


.add-button2{
    margin-top: 20px;
    height: 35px;
    width: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(249, 246, 237);
    color:#8e0202;
    font-weight: bold;
    font-size: larger;
    margin-left: 40px;
}

#ar2{
    max-height: 300px;
    overflow: scroll;
    border: none;
    scrollbar-color: #8e0202 #8e0202;
    margin-top: 10px;

}


#li2{
    color: white;
    border-bottom: #8e0202 solid 1px;
    font-size: 35px;
    margin-left: 40px;    
}

#m2{
    
    display: flex;flex-direction: column;
    margin-left: 0px;
    margin-bottom: 120px;
    margin-top: -10px;
}