section{
    display: flex;
    height: 90vh;
    /* border: solid black 1px; */
    display:  flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 30px; */

}

.first{
    
    width: 490px;
    height: 400px;
    left: 350px;
    top:70px;
    position: relative;
    background-color: white;
    background-image: url(https://images.pexels.com/photos/4672553/pexels-photo-4672553.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
    /* filter: blur(0.4px); */
    /* filter: brightness(100%); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow:scroll;

    input{
        width: 300px;
        height: 35px;
        margin-top:20px;
        font-size: 30px;
        color:white;
        background-color:rgb(249, 246, 237);
        border-radius: 10px;

    }
    input:focus{
        background-color:rgba(249, 246, 237, 0.413);
        }
    input::placeholder{
        color: transparent;
    }
    input:focus::placeholder{
        color:rgb(150, 96, 2);
    }



}
.first:hover{
    transition: all 1s ease;
    width: 470px;
    height: 380px;
}

.title-of-first{
    /* color: rgb(39, 74, 181); */
    color: #e79601;
    font-size: 80px;
    font-family:'Oi', display;
    position: relative;
    left: 230px;
    /* background-color:rgb(249, 246, 237); */
    border-radius: 10px;
    width: fit-content;
    /* border: solid black 1px; */
}

.add-button{
    margin-top: 20px;
    height: 35px;
    width: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(249, 246, 237);
    color: rgb(231, 150, 1);
    font-weight: bold;
    font-size: larger;
}


ul{
    font-size: 20px;
    color: rgb(255, 255, 255);
    /* background-color: rgba(255, 255, 255, 0.247); */
    width: fit-content;
    display: flex;
    flex-direction: column;
}


article{
    max-height: 190px;
    overflow: scroll;
    border: none;
    scrollbar-color: #e79601 #e79601;
    
}
/* #e06d0f */

main{
    display: flex;flex-direction: column;
    margin-left: 30px;
    margin-bottom: 100px;
    
}

#li1{
    color: white;
    border-bottom: #e79601 solid 1px;
    font-size: 35px;
}